.optionsOpen {
    position: absolute;
    top: 0;
    left: 0;
    height: 345px;
    width: 680px;
    background: white;
    transition: left .1s, width .1s, height .1s;
}

.optionsTable {
    border-collapse: collapse;
    margin-left: 30px;
    margin-top: 25px;
}

.bottomBorder {
    border-bottom: 1px solid rgb(189, 189, 189);
    padding-bottom: 15px;
}

.birthDeathPinsTD {
    padding-top: 0px;
    border-bottom: 1px solid rgb(189, 189, 189);
}

.parentChildLinesTD {
    padding-top: 15px;
    padding-bottom: 15px;
}

.parentWindowsLinkedTD {
    padding-bottom: 15px;
}

.childWindowLinkedTD {
    border-bottom: 1px solid rgb(189, 189, 189);
    padding-bottom: 15px;
}

.birthDeathLinesTD {
    padding-top: 15px;
}

.birthDeathWindowsLinkedTD {
    border-bottom: 1px solid rgb(189, 189, 189);
    padding-top: 15px;
    padding-bottom: 15px;
}

.displayOptions {
    margin-top: 20px;
    margin-bottom: 20px;
}

.optionsClosed {
    position: absolute;
    top: 0;
    left: 305px;
    height: 12px;
    width: 50px;
    background: white;
    transition: left .1s, width .1s, height .1s;
}

.optionsCloseButton {
    position: absolute;
    top: -12px;
    left: 325px;
    width: 15px;
    height: 15px;
    margin: 0;
}

.optionsOpenButton {
    position: absolute;
    bottom: 0;
    left: 18px;
    width: 15px;
    height: 15px;
    margin: 0;
}

input:disabled+label {
    color:#aaa;
}

.wrapperStyle {
    left: 100px;
    width: 85%;
    margin: 0;
    position: fixed;
    bottom: 30px;
}

.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black; /* If you want dots under the hoverable text */
}
  
  /* Tooltip text */
  .tooltip .tooltiptext {
    visibility: hidden;
    white-space: nowrap;
    width: auto;
    background-color: black;
    color: #fff;
    text-align: center;
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 7px;
    padding-right: 7px;
    border-radius: 6px;
   
    /* Position the tooltip text - see examples below! */
    position: absolute;
    z-index: 1;
}
  
/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
    visibility: visible;
    font-size: .9em;
}

.tooltip .tooltiptext {
    width: 100px;
    top: 100%;
    left: 50%;
    margin-left: -60px;
}
