.topBox {
    background-color: rgb(243, 241, 234);
    height: 70px;
}

.h1 {
    font-size: 2.5em;
    font-style: italic;
    font-variant: small-caps;
    text-align: center;
    padding-top: 10px;
}

.mapDiv {
    position: relative;
}