.topBox {
    background-color: rgb(243, 241, 234);
    height: 60px;
}

.h1 {
    font-size: 2.5em;
    font-style: italic;
    font-variant: small-caps;
    text-align: center;
    padding-top: 5px;
}

.mapDiv {
    position: relative;
    width: 100%;
    height: 600;
}

.loadingDiv {
    position: relative;
    top: 200px;
    left: 35%;
    width: 370px;
    height: 80px;
    background-color: rgb(243, 241, 234);
    border:1px solid black;
}

.statusElipsis {
    position:relative;
    top: 30px;
    left: 60px;
}

.statusElipsis:after {
    overflow: hidden;
    display: inline-block;
    vertical-align: bottom;
    -webkit-animation: ellipsis steps(4,end) 1500ms infinite;      
    animation: ellipsis steps(4,end) 1500ms infinite;
    white-space: nowrap;
    content: ' . . . .';
    width: 0px;
  }
  
  @keyframes ellipsis {
    to {
      width: 30px;    
    }
  }
  
  @-webkit-keyframes ellipsis {
    to {
      width: 30px;    
    }
  }

.reviewWarningDiv {
    position: relative;
    top: 100px;
    left: 20%;
    width: 700px;
    height: 325px;
    background-color: rgb(243, 241, 234);
    border:1px solid black;
    padding-left: 20px;
    padding-right: 20px;
}

.formTable {
    padding-top: 0px;
    width: 100%;
}

.buttonSpacer {
    width: 20%;
}

.buttonsTr {
    height: 40px;
}

.button {
    font-size: 16px;
}

.tableDiv {
    padding: 20px;
}
